body {
    background-color: gray;
}

div::first-letter { /* pseudoelemento */
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}



div:nth-child(odd) { /* pseudoclase */
    background-color: lightgrey;
}
div:nth-child(even) {
    background-color: white;
}

p:last-of-type::after { /* pseudoclase y pseudoelemento */
    content: "...";
}

p:only-child::after { /* evita que lleven puntos suspensivos los párrafos aislados */
    content:none;
}

p {
    line-height: 12px;
}

div {
    line-height: 36px;
}

#oferta {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    display: none;
}

#oferta p {
    display: table-cell;
    color: blue;
    vertical-align: middle;
    text-align: center;
}

#ver {
    display: block;
}

#ocultar {
    display: none;
}
p:nth-child(1) { /* pseudoclase */
    color: red;
    background-color:yellow;
}