*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 5vh 5%;
    background-color: bisque;
}


nav {
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

a{
    margin: 0.5em 2%;
    height: 1.5em;
    width: 10%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font: xx-large;
    background-color: gray;
    box-shadow: 5px 5px 5px 0 black;
    border-radius: 0.4em;
    color: whitesmoke;
}
#activo{
    box-shadow: 5px 5px 5px 0 black inset;
    background-color: lightgray;
}

@media screen and (max-width: 900px){

    body{
        background-color: orange;
    }
}

@media screen and (max-width: 600px){

    body{
        background-color: black;
        color: white;
    }
}
    
