*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    margin: 5vh 5%;
    background-color: rgb(18, 10, 95);
}


nav {
    display: flex;
    flex-direction: row;
}

a{
    margin: 1em 2%;
    height: 2em;
    width: 10%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font: xx-large;
    background-color: gray;
    box-shadow: 5px 5px 5px 0 black;
    border-radius: 0.4em;
    color: whitesmoke;
}
#activo{
    box-shadow: 5px 5px 5px 0 black inset;
    background-color: lightgray;

}
#cajasuperior{
    background-color: rgb(218, 113, 15);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(255, 255, 250);
    border-width: 5px;
    padding: 50px;
    text-align: center;
    display: inline-block;
    width: 1050px;
    height: 100px;
}

img.fotologo {
    width: 1000px;
    height: 2000px;
}
    
